.aboutContainer {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
}

#about {
    background-color: rgb(145, 145, 168);
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.aboutText {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 90%;
    font-size: 2vw;
    
}

.aboutText h2 {
    font-size: 2.5rem;
    border-bottom: 2px solid lightgray;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1260px;
}

.responsive {
    object-fit: cover;
    border-radius: 50%;
    align-self: center;
}

.imgContainer {
    display: flex;   
}