h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-family: 'Raleway' sans-serif;
    color: white;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    // width: 90%;
}
