#contact {
    padding-top: 50px;
    padding-bottom: 50px;
}

.contactFlexParent {
    display: flex;
    margin-right: 50px;
}

.contactTextContainer {
   margin-right: 50px;
}

.contactTextContainer ul {
    padding-left: 0px;
    font-family: 'Raleway', sans-serif;
}

.contactTextContainer ul li a i {
    font-size: 2.5rem;
}

#contact h2 {
    text-align: right;
    margin-right: 55px;
    font-size: 2.5rem;
    border-bottom: 2px solid black;
}

.contactTextContainer a {
   color: black;
   transition: text-decoration 0.5s;
}

.contactTextContainer a:hover {
    text-decoration: underline;
    color: blue;
}

.inputContainer {
    display: flex;
}

.inputContainer, #name, #email {
    width: 100%;
    padding-bottom: 15px;
}

#name, #email {
    border-top: none;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

#name {
    margin-right: 10px;
}

#message {
    border: 3px solid #333;
    border-radius: 0px 40px 0px 40px;
    margin-bottom: 20px;
    resize: none;
}

.shopButton {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    transition: background-color 0.3s
}

.shopButton:hover {
    background-color: blue;
}