.navBar {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // scroll-behavior: smooth;
}

.navigation a {
    color: black;
    font-family: 'Raleway', sans-serif;
    border-bottom: 1px solid black;
    font-size: 1.3rem;
    transition: color 0.3s black;
}

.navigation a:hover {
    color: blue;
    border-bottom: 1px solid blue;
}


.navigation li {
    display: flex;
    padding-left: 70px;
    padding-right: 70px;
    text-decoration: none;
}

.headerContainer {
    background-image: url(../assets/lasse-jensen-fSSO5U_iwzk-unsplash.jpg);
    position: relative;
    background-size: cover;
    margin-bottom: 0;
    height: 100vh;
    background-repeat: no-repeat;
    margin-bottom: -20px;
}

.headerTextContainer {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}

.headerTextContainer p {
    font-weight: 700;
    
}

#shadow {
    padding-top: 40px;
    padding-bottom: 30px;
    color: black;
    text-shadow: 3px 3px lightgray;
    font-weight: 700;
    // background-color: white;
}

h1 {
    display: flex;
    font-size: 7rem;
    font-weight: 700;
    justify-content: center;
    text-shadow: 3px 3px whitesmoke;
}

.headerTextContainer p {
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

.resume-link {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 1.5rem;
    color: white;
    background-color: black;
    border: 1px solid lightgrey;
    padding: 7px 10px;
    border-radius: 10%;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    transition: background-color 0.3s;
}

.resume-link:hover {
    background-color: blue;
}

.ml9 {
    position: relative;
    font-weight: 700;
    font-size: 5rem;
}

.ml9 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.ml9 .letter {
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;
}