@media (max-width: 1100px){
    .contactFlexParent{
        flex-direction: column;
        margin: 0px;
    }
    #message {
        width: 100%;
    }
    h2 {
        margin-right: 0px;
    }
}

@media (max-width: 900px) {
    .workFlexParent1, .workFlexParent3 {
        display: flex;
        flex-direction: column;
        padding-bottom: 0px;
    }
    .workFlexParent2 {
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 0px;
    }
    .workTextContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .workTextContainer2 {
        width: 90%;
        text-align: center;
    }
    #work, h2 {
        display: flex;
        justify-content: center;
    }

    #work h2 {
        padding-top: 10px;
    }

    .skillsUsed1, .skillsUsed2, .skillsUsed3 {
        display: flex;
        justify-content: center;
        max-width: 100%;
        font-size: 1.7vh;
    }
    .skillsUsed2, .workLinks2 {
        padding: 0px;
    }
    .workImgContainer1, .workImgContainer2, .workImgContainer3 {
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }
    h3 {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 700px) {
    .aboutContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        padding-bottom: 10px;
    }
    .responsive {
        margin: 0;
    }
    .aboutText {
        font-size: 3vw;
    }
    .individualSkill {
        font-size: 6vh;
    }
}

@media (max-width: 450px) {
    footer p {
        line-height: 25px;
    }
}