.skillsContainer  {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 150px 150px;
    background-color: #FFFFFF;
    justify-content: center;
    // margin: 150px 0 100px 50px;
    // grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.individualSkill {
    display: flex;
    font-size: 7vh;
    justify-content: center;
    align-items: center;
}

.skillsContainer h2 {
    font-size: 2.5rem;
    margin: 0 0 0 35px;
}

#skills h2 {
    font-size: 2.5rem;
    padding-top: 30px;
    border-bottom: 2px solid black;
}
#skills {
    padding-bottom: 35px;
}