#work {
    background-color: rgb(145, 145, 168);
    padding-bottom: 100px;
}

#work h2 {
    font-size: 2.5rem;
    color: white;
    padding-top: 80px;
    border-bottom: 2px solid white;
}

h3 {
    font-size: 2rem;
}

.workTextContainer {
    color: white;
    width: 50%;
}

.workImgContainer{
    width: 50%;
}
.workImgContainer img {
    border-radius: 20px;
    border: hidden;
    max-width: 90%;
}

// .workImgContainer img:hover {
//     border: 3px solid black;
//     transition: 0.2s ease-in-out;
// }

.workImgContainer1 {
    padding-top: 50px;
    display: flex;
    justify-content: right;
}

.workImgContainer2 {
    padding-top: 50px;
}

.workImgContainer3 {
    padding-top: 50px;
    display: flex;
    justify-content: right;
}

.workTextContainer1 {
    width: 90%;
}

.workTextContainer2 {
    width: 100%;
    text-align: right;
}

.workTextContainer3 {
    width: 90%;
}

.workFlexParent1, .workFlexParent2, .workFlexParent3{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.workFlexParent1, .workFlexParent2, .workFlexParent3, a {
    color: black;
}

.gitHub1 {
    background-color: rgb(255, 255, 255);
    width: 140px;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 10%;
    transition: background-color 0.3s;
    border: 1px solid black;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding: 8px 0 8px 0;
}

.gitHub1:hover {
    background-color: rgb(82, 82, 223);
}

.gitHub2 {
    background-color: rgb(255, 255, 255);
    width: 140px;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 10%;
    transition: background-color 0.3s;
    border: 1px solid black;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding: 8px 0 8px 0;
}

.gitHub2:hover {
    background-color: rgb(82, 82, 223);
}

.gitHub3 {
    background-color: rgb(255, 255, 255);
    width: 140px;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 10%;
    transition: background-color 0.3s;
    border: 1px solid black;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding: 8px 0 8px 0;
}

.gitHub3:hover {
    background-color: rgb(82, 82, 223);
}
.viewLive1 {
    background-color: rgb(255, 255, 255);
    width: 140px;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 10%;
    transition: background-color 0.3s;
    border: 1px solid black;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-right: 15px;
    align-items: left;
    padding: 8px 0 8px 0;
}

.viewLive1:hover {
    background-color: rgb(82, 82, 223);
}

.viewLive2 {
    background-color: rgb(255, 255, 255);
    width: 140px;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 10%;
    transition: background-color 0.3s;
    border: 1px solid black;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-right: 15px;
    align-items: left;
    padding: 8px 0 8px 0;
}

.viewLive2:hover {
    background-color: rgb(82, 82, 223);
}

.viewLive3 {
    background-color: rgb(255, 255, 255);
    width: 140px;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 10%;
    transition: background-color 0.3s;
    border: 1px solid black;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-right: 15px;
    align-items: left;
    padding: 8px 0 8px 0;
}

.viewLive3:hover {
    background-color: rgb(82, 82, 223);
}

.skillsUsed1 {
    display: flex;
    padding-left: 0px;
    padding-bottom: 5px;
}

.skillsUsed1 li {
    background-color: white;
    color: black;
    width: 110px;
    border: 1px solid black;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    border-radius: 15%;
    padding: 10px;
    letter-spacing: 1px;
    margin-left: 1px;
    margin-right: 5px;
}

.skillsUsed2 {
    display: flex;
    justify-content: right;
}

.skillsUsed2 li {
    background-color: white;
    color: black;
    width: 110px;
    border: 1px solid black;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    border-radius: 15%;
    padding: 10px;
    letter-spacing: 1px;
    margin-left: 1px;
    margin-right: 5px;
}

.skillsUsed3 {
    display: flex;
    padding-left: 0px;
    padding-bottom: 5px;
}

.skillsUsed3 li {
    background-color: white;
    color: black;
    width: 110px;
    border: 1px solid black;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    border-radius: 15%;
    padding: 10px;
    letter-spacing: 1px;
    margin-left: 1px;
    margin-right: 5px;
}
.workLinks1 {
    display: flex;
    padding-left: 0px;
}

.workLinks2 {
    display: flex;
    justify-content: right;
}

.workLinks3 {
    display: flex;
    padding-left: 0px;
}